.global-setup {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1444px) {
  .global-setup {
    max-width: 1000px;
  }
}
@media (max-width: 1444px) {
  .global-setup {
    max-width: 900px;
    margin: 0 auto;
  }
}
@keyframes slideinRight {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
